services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=db-empleados.clbwojsujzkz.us-east-1.rds.amazonaws.com
      - DB_NAME=empresa
      - DB_USER=admin
      - DB_PASS=frodobolson
    restart: always